{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container">
    <div class="mb-3">
        <form action="/add_book" method="post">
                <label class="title1" style="font-weight: bold" for="books">Додати книгу в </label>
                    <div class="btn-group">
                        <div class="dropdown-container">
                        <select class="title1" style="font-weight: bold" id="lists" name="lists">
                            <option class="dropdown-item" value="MyList" {{ name["MyList"] }} >Прочитати</option>
                            <option class="dropdown-item" value="READ" {{ name["READ"] }} >Прочитане</option>
                        </select>
                        </div>
                    </div>
                </div>

                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Назва книги" type="text">
                        </div>
                        <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="author" name="author" placeholder="Автор" type="text">
                            </div>
                        <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="other" name="other" placeholder="Коментар" type="text">
                       </div>
                    </div>
                    <div>
                        <button class="btn btn-dark btn-md bg-gradient" type="submit">Додати</button>
                    </div>
            </form>

</div>
{% endblock %}
