{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main>

            <div class="p-3">
                <h4>Не знаєш яку наступну книжку прочитати?</h3>
                <h5>Довірся сигналу з космосу і потрібна книга тебе знайде</h5>
                <form method="post">
                    <div class="btn-group">
                        <div class="dropdown-container">
                            <select id="categories" name="categories">
                                {% if session["user_id"] %}
                                <option class="dropdown-item" value="all" {{ name["all"] }} >Усі книги</option>
                                <option class="dropdown-item" value="my" {{ name["my"] }} >Мій список</option>
                                <option class="dropdown-item" value="top" {{ name["top"] }} >ТОП світової літератури</option>
                                <option class="dropdown-item" value="uatop" {{ name["uatop"] }} >ТОП української літератури</option>
                                <option class="dropdown-item" value="clas" {{ name["clas"] }} >Культова класика</option>
                                <option class="dropdown-item" value="ua" {{ name["ua"] }} >Українська художня література</option>
                                <option class="dropdown-item" value="uabio" {{ name["uabio"] }} >Біографії і Мемуари з України </option>
                                <option class="dropdown-item" value="uanonfic" {{ name["uanonfic"] }} >“Nonfiction” з України і про Укаїну </option>
                                <option class="dropdown-item" value="nonfic" {{ name["nonfic"] }} >“Nonfiction” (без біографій)</option>
                                <option class="dropdown-item" value="bio" {{ name["bio"] }} >Біографії і Мемуари </option>
                                <option class="dropdown-item" value="hist" {{ name["hist"] }} >Історичні книги </option>
                                <option class="dropdown-item" value="fant" {{ name["fant"] }} >Фентезі</option>
                                <option class="dropdown-item" value="tril" {{ name["tril"] }} >Триллери і містика</option>
                                <option class="dropdown-item" value="scific" {{ name["scific"] }} >Наукова фантастика</option>
                                {% else %}
                                <option class="dropdown-item" value="all" {{ name["all"] }} >Усі книги</option>
                                <option class="dropdown-item" value="top" {{ name["top"] }} >ТОП світової літератури</option>
                                <option class="dropdown-item" value="uatop" {{ name["uatop"] }} >ТОП української літератури</option>
                                <option class="dropdown-item" value="clas" {{ name["clas"] }} >Культова класика</option>
                                <option class="dropdown-item" value="ua" {{ name["ua"] }} >Українська художня література</option>
                                <option class="dropdown-item" value="uabio" {{ name["uabio"] }} >Біографії і Мемуари з України </option>
                                <option class="dropdown-item" value="uanonfic" {{ name["uanonfic"] }} >“Nonfiction” з України і про Укаїну </option>
                                <option class="dropdown-item" value="nonfic" {{ name["nonfic"] }} >“Nonfiction” (без біографій)</option>
                                <option class="dropdown-item" value="bio" {{ name["bio"] }} >Біографії і Мемуари </option>
                                <option class="dropdown-item" value="hist" {{ name["hist"] }} >Історичні книги </option>
                                <option class="dropdown-item" value="fant" {{ name["fant"] }} >Фентезі</option>
                                <option class="dropdown-item" value="tril" {{ name["tril"] }} >Триллери і містика</option>
                                <option class="dropdown-item" value="scific" {{ name["scific"] }} >Наукова фантастика</option>
                                {% endif %}
                            </select>
                        </div>
                    </button>
                  </div>
            </div>
            <div class="container text-center">
                <div class="row g-2">
                  <div class="col-6">
                    <div class="p-3">
                        <div class='container'>



                            <p class="text-end"><button id="ua" name="ua" value="ua" class="btn btn-dark btn-lg" type="submit"> <span class="blue">Lucky</span><span class="colorred">Book</span> </button>
                            </p>
                            </form>

                    </div>
                </div>
            </div>

                <div class="col-6 bg-red">
                    <div class="p-3">



                        <table>
                            {% for row in all %}



                            <tr>
                                <td class="text-start"><img  src="{{ all[0]["image"] }}"></td>
                                <td class="text-start"><h3>{{ all[0]["title"] }}</h3>
                                    <h5>by {{ all[0]["author"] }}</h5>
                                    <h6>rating {{ all[0]["rating"]}}</h6>
                                    <form action="{{ all[0]["link"] }}" method="get" target="_blank">
                                        <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                                    </form>
                                    <form  method="get">
                                        <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                                    </form></td>
                                <td class="text"></td>
                                <td class="text"></td>
                                <td class="text"></td>
                             </tr>
                             {% endfor %}
                        </table>




                        <h3 style="color: red">{{ apollogy }}</h3>

                        {% for row in sel %}
                            <h3>{{ sel[0]["title"] }}</h3>
                            <h5>{{ sel[0]["author"] }}</h5>
                            <h6></h6>
                        {% endfor %}

                        {% for row in top %}
                            <p class="text-start"><img  src="{{ top[0]["image"] }}"></p>
                            <h3 class="text-start">{{ top[0]["title"] }}</h3>
                            <h5 class="text-start">{{ top[0]["author"] }}</h5>
                            <h6 class="text-start">{{ top[0]["rating"] }}</h6>
                            <h6 class="text-start"> <form action="{{ top[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form> </h6>
                            <h6 class="text-start"><form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form></h6>
                        {% endfor %}

                        {% for row in uatop %}
                            <img  src="{{ uatop[0]["image"] }}">
                            <h3>{{ uatop[0]["title"] }}</h3>
                            <h5>{{ uatop[0]["author"] }}</h5>
                            <h6>{{ uatop[0]["rating"] }}</h6>
                            <form action="{{ uatop[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in clas %}
                            <img  src="{{ clas[0]["image"] }}">
                            <h3>{{ clas[0]["title"] }}</h3>
                            <h5>{{ clas[0]["author"] }}</h5>
                            <h6>{{ clas[0]["rating"] }}</h6>
                            <form action="{{ clas[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in ua %}
                            <img  src="{{ ua[0]["image"] }}">
                            <h3>{{ ua[0]["title"] }}</h3>
                            <h5>{{ ua[0]["author"] }}</h5>
                            <h6>{{ ua[0]["rating"] }}</h6>
                            <form action="{{ ua[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in uabio %}
                            <img  src="{{ uabio[0]["image"] }}">
                            <h3>{{ uabio[0]["title"] }}</h3>
                            <h5>{{ uabio[0]["author"] }}</h5>
                            <h6>{{ uabio[0]["rating"] }}</h6>
                            <form action="{{ uabio[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in uanonfic %}
                            <img  src="{{ uanonfic[0]["image"] }}">
                            <h3>{{ uanonfic[0]["title"] }}</h3>
                            <h5>{{ uanonfic[0]["author"] }}</h5>
                            <h6>{{ uanonfic[0]["rating"] }}</h6>
                            <form action="{{ uanonfic[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in nonfic %}
                            <img  src="{{ nonfic[0]["image"] }}">
                            <h3>{{ nonfic[0]["title"] }}</h3>
                            <h5>{{ nonfic[0]["author"] }}</h5>
                            <h6>{{ nonfic[0]["rating"] }}</h6>
                            <form action="{{ nonfic[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in bio %}
                            <img  src="{{ bio[0]["image"] }}">
                            <h3>{{ bio[0]["title"] }}</h3>
                            <h5>{{ bio[0]["author"] }}</h5>
                            <h6>{{ bio[0]["rating"] }}</h6>
                            <form action="{{ bio[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in hist %}
                            <img  src="{{ hist[0]["image"] }}">
                            <h3>{{ hist[0]["title"] }}</h3>
                            <h5>{{ hist[0]["author"] }}</h5>
                            <h6>{{ hist[0]["rating"] }}</h6>
                            <form action="{{ hist[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in fant %}
                            <img  src="{{ fant[0]["image"] }}">
                            <h3>{{ fant[0]["title"] }}</h3>
                            <h5>{{ fant[0]["author"] }}</h5>
                            <h6>{{ fant[0]["rating"] }}</h6>
                            <form action="{{ fant[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in tril %}
                            <img  src="{{ tril[0]["image"] }}">
                            <h3>{{ tril[0]["title"] }}</h3>
                            <h5>{{ tril[0]["author"] }}</h5>
                            <h6>{{ tril[0]["rating"] }}</h6>
                            <form action="{{ tril[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}

                        {% for row in scific %}
                            <img  src="{{ scific[0]["image"] }}">
                            <h3>{{ scific[0]["title"] }}</h3>
                            <h5>{{ scific[0]["author"] }}</h5>
                            <h6>{{ scific[0]["rating"] }}</h6>
                            <form action="{{ scific[0]["link"] }}" method="get" target="_blank">
                                <button type="submit" class="btn btn-danger btn-sm">більше про книгу на goodreads</button>
                            </form>
                            <form  method="get">
                                <p><button id="ua" name="ua" value="delete" class="btn btn-ligth btn-sm">не пропонувати</button></p>
                            </form>
                        {% endfor %}



                    </div>
                  </div>
                </div>
              </div>



        <footer style = "position:relative; top:200px;">
            <h3>Footer</h3>
            <p>Remember to check <a href="https://seneka94.github.io/trivia/">test</a></p>
        </footer>

</main>
{% endblock %}





@app.route("/ADD", methods=["POST"])
def ADD():

    id = request.form.get("id")
    inread = request.form.get("read")

    book = db.execute("SELECT * FROM books WHERE id == ?", id)
    InRead = db.execute("SELECT * FROM books WHERE id == ?", inread)

    if id:
        db.execute("INSERT INTO my (userID, title, author, coments, image_sm) VALUES(?, ?, ?, ?, ?)", session['user_id'], book[0]["title"], book[0]["author"], "-", book[0]["image_sm"])
        ok = 'Книга додана у список "Прочитати"!'
        return redirect("/")

    elif inread:
        db.execute("INSERT INTO read (userID, title, author, notes, image_sm) VALUES(?, ?, ?, ?, ?)", session['user_id'], InRead[0]["title"], InRead[0]["author"], "-", InRead[0]["image_sm"])
        ok1 = 'Книга додана у список "Прочитане"!'
        return redirect("/")
    return redirect("/")