{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<main class="container py-5 text-center">

    <div class="p-2">
        <h4 class="title">Прочитати</h4>
    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text">Обкладинка</th>
                <th class="text">Назва книги</th>
                <th class="text">Автор</th>
                <th class="text">Коментар</th>
                <th class="text">Опції</th>
            </tr>
        </thead>
        <tbody>
            {% for row in my %}
            <tr>
                <td class="text"> <img src="{{ row.image_sm }}"></td>
                <td class="text-start" style="font-weight: bold">{{ row.title }}</td>
                <td class="text-start">{{ row.author }}</td>
                <td class="text-start">{{ row.coments }}</td>
                <td class="text">
                    <form action="/add" method="post">
                        <input name="addID" type="hidden" value="{{ row.orderID }}">
                        <input class="btn btn-outline-success btn-sm" type="submit" value="в 'Прочитане'">
                    </form>
                    <p><form action="/delete" method="post">
                        <input name="delete" type="hidden" value="{{ row.orderID }}">
                        <input class="btn btn-outline-danger btn-sm" type="submit" value="    Видалити   ">
                    </form></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        </main>
{% endblock %}